LLC/Source Code/FCT.LLC.BusinessService/BusinessLogic/Service References/FCTURNReference/fcturn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://firstcanadiantitle.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://firstcanadiantitle.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://firstcanadiantitle.com/">
      <s:element name="GetUniqueReferenceNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngSourceSystemNumber" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUniqueReferenceNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUniqueReferenceNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPolicyNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngSourceSystemNumber" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPolicyNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPolicyNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lngSourceSystemNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="strFctUrn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fctBillingID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInvoiceNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInvoiceNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUniqueReferenceNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetUniqueReferenceNumber" />
  </wsdl:message>
  <wsdl:message name="GetUniqueReferenceNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetUniqueReferenceNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetPolicyNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetPolicyNumber" />
  </wsdl:message>
  <wsdl:message name="GetPolicyNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetPolicyNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetInvoiceNumber" />
  </wsdl:message>
  <wsdl:message name="GetInvoiceNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetInvoiceNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="UniqueReferenceNumberSoap">
    <wsdl:operation name="GetUniqueReferenceNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an FCT Unique Reference Number</wsdl:documentation>
      <wsdl:input message="tns:GetUniqueReferenceNumberSoapIn" />
      <wsdl:output message="tns:GetUniqueReferenceNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPolicyNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a unique FCT Policy Number</wsdl:documentation>
      <wsdl:input message="tns:GetPolicyNumberSoapIn" />
      <wsdl:output message="tns:GetPolicyNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a unique FCT Invoice Number</wsdl:documentation>
      <wsdl:input message="tns:GetInvoiceNumberSoapIn" />
      <wsdl:output message="tns:GetInvoiceNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UniqueReferenceNumberSoap" type="tns:UniqueReferenceNumberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUniqueReferenceNumber">
      <soap:operation soapAction="http://firstcanadiantitle.com/GetUniqueReferenceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyNumber">
      <soap:operation soapAction="http://firstcanadiantitle.com/GetPolicyNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceNumber">
      <soap:operation soapAction="http://firstcanadiantitle.com/GetInvoiceNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UniqueReferenceNumberSoap12" type="tns:UniqueReferenceNumberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUniqueReferenceNumber">
      <soap12:operation soapAction="http://firstcanadiantitle.com/GetUniqueReferenceNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyNumber">
      <soap12:operation soapAction="http://firstcanadiantitle.com/GetPolicyNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceNumber">
      <soap12:operation soapAction="http://firstcanadiantitle.com/GetInvoiceNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UniqueReferenceNumber">
    <wsdl:port name="UniqueReferenceNumberSoap" binding="tns:UniqueReferenceNumberSoap">
      <soap:address location="http://training.prefirstcdn.com/fcturn/fcturn.asmx" />
    </wsdl:port>
    <wsdl:port name="UniqueReferenceNumberSoap12" binding="tns:UniqueReferenceNumberSoap12">
      <soap12:address location="http://training.prefirstcdn.com/fcturn/fcturn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>