EPS/SC/FCT.EPS.Agents/FCT.EPS.WSP.ExternalResources/Service References/PaymentTrackingServiceReference/PaymentTrackingService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/FCT.LLC.BusinessServiceCode/PaymentTrackingService.svc?xsd=xsd2" namespace="FCT.EPS.PaymentTrackingService.DataContracts" />
  <xs:element name="NotifyPaymentConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="FCT.EPS.PaymentTrackingService.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:PaymentNotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPaymentConfirmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="FCT.EPS.PaymentTrackingService.DataContracts" minOccurs="0" name="NotifyPaymentConfirmationResult" nillable="true" type="q2:PaymentNotificationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>