LLC/Source Code/FCT.LLC.Common/DataContracts/CreateConfirmationLettersRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CreateConfirmationLettersRequest"
    targetNamespace="FCT.LLC.Common.DataContracts" elementFormDefault="qualified"
    xmlns="FCT.LLC.Common.DataContracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
  >
  <xs:include schemaLocation="DataContractTypes.xsd"/>

  <xs:element name="CreateConfirmationLettersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DealID" type="xs:int" />
        <xs:element name="LanguageID" type="xs:int" />
        <xs:element name="UserContext" type="UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
