LLC/Source Code/FCT.LLC.Common/DataContracts/GetFundingDealResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GetFundingDealResponse"
    targetNamespace="FCT.LLC.Common.DataContracts" elementFormDefault="qualified"
    xmlns="FCT.LLC.Common.DataContracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
   <xs:include schemaLocation="DataContractTypes.xsd"/>

   <xs:element name="GetFundingDealResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Deal" type="FundingDeal" />
            <xs:element name="PendingFundsReturn" type="DealFundsAllocation" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
