LLC/Source Code/FCT.LLC.Common/DataContracts/GetMilestonesResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="GetMilestonesResponse"
    targetNamespace="FCT.LLC.Common.DataContracts" elementFormDefault="qualified"
    xmlns="FCT.LLC.Common.DataContracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
   <xs:include schemaLocation="DataContractTypes.xsd"/>

   <xs:element name="GetMilestonesResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Milestones" type="MilestoneCollection" />
            <xs:element name="FundingMilestones" type="FundingMilestone" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
