LLC/Source Code/FCT.LLC.Common/DataContracts/SaveDisbursementsResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SaveDisbursementsResponse"
    targetNamespace="FCT.LLC.Common.DataContracts" elementFormDefault="qualified"
    xmlns="FCT.LLC.Common.DataContracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:include schemaLocation="DataContractTypes.xsd"/>

  <xs:element name="SaveDisbursementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DealID" type="xs:int" />
         <xs:element name="DisbursementSummary" type="DisbursementSummary" />
         <xs:element name="Disbursements" type="DisbursementCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
