LLC/Source Code/FCT.LLC.Common/DataContracts/SaveReconciliationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SaveReconciliationRequest"
    targetNamespace="FCT.LLC.Common.DataContracts" elementFormDefault="qualified"
    xmlns="FCT.LLC.Common.DataContracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
   <xs:include schemaLocation="DataContractTypes.xsd"/>

   <xs:element name="SaveReconciliationRequest">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="Reconciliations" type="ReconciliationCollection" />
            <xs:element name="UserContext" type="UserContext" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
