LLC/Source Code/FCT.LLC.Common/DataContracts/SaveFundingDealRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SaveFundingDealRequest" elementFormDefault="qualified"
    targetNamespace="FCT.LLC.Common.DataContracts"
    xmlns="FCT.LLC.Common.DataContracts"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:include schemaLocation="DataContractTypes.xsd"/>

  <xs:element name="SaveFundingDealRequest">
      <xs:complexType>
         <xs:sequence>
           <xs:element name="Deal" type="FundingDeal" />
           <xs:element name="UserContext" type="UserContext" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
